In [43]:
import pandas as pd
import io
import requests

In [44]:
url=("https://raw.githubusercontent.com/mdpurvis/github/master/Mint/data/final/"+
     "financial_transactions.csv")

url = ("https://raw.githubusercontent.com/mdpurvis/github/master/Mint/data/final/"+
       "transfer_report.csv")

In [45]:
read_data = requests.get(url).content

In [46]:
read_data

b'Date,Description,Original Description,Amount,Transaction Type,Category,Account Name,Labels,Notes\n7/31/2019,CARD SECURITY 1 800 815 4051,CARD SECURITY 1 800 815 4051,0.48,debit,Finance Charge,XXXXXXXXXX0290,,\n7/13/2019,Amazon,AMAZON MARKETPLACE SEATTLE WA Amazon.com Refund,10.99,credit,Shopping,XXXXXXXXXX0290,,\n7/9/2019,ONLINE payment-THANK YOU ATLANTA GA,ONLINE PYMT-THANK YOU ATLANTA GA,1319.61,credit,Transfer,XXXXXXXXXX0290,,\n7/8/2019,Amazon,AMAZON MARKETPLACE SEATTLE WA OtterBox DEFENDER iPhone 6/6s,22,debit,Electronics & Software,XXXXXXXXXX0290,,\n7/7/2019,Amazon,"AMAZON MARKETPLACE SEATTLE WA Rebex iPhone 8 Case Cover,iPho amFilm Glass Screen Protector",17.98,debit,Electronics & Software,XXXXXXXXXX0290,,\n7/1/2019,Amazon,AMAZON MARKETPLACE SEATTLE WA MdnMd Girls\' Short Sleeve Skir HighKey Snacks Keto Mini Cooki AZO Bladder Control with Go-Le SHIPPING AND TAX,50.08,debit,Baby Supplies,XXXXXXXXXX0290,,\n7/1/2019,Amazon,AMAZON MARKETPLACE SEATTLE WA EQUAL PAY 0% APR - 12 MOS HP 1JD35UT#ABA Zbook 15 G4 Wor SHIPPING AND TAX,1132.99,debit,Books & Supplies,XXXXXXXXXX0290,,\n6/30/2019,CARD SECURITY 1 800 815 4051,CARD SECURITY 1 800 815 4051,20.73,debit,Other Fees,XXXXXXXXXX0290,,\n6/24/2019,Amazon,AMAZON MARKETPLACE SEATTLE WA icyzone Workout Lounge Shorts,13.79,debit,Baby Supplies,XXXXXXXXXX0290,,\n6/23/2019,Amazon,AMAZON MARKETPLACE SEATTLE WA Warner\'s Women\'s Blissful Bene Magnetic Drawing Board Mini Tr Girls\' Short Sleeve Skirted Le OXO Good Grips Dish Brush,33.93,debit,Baby Supplies,XXXXXXXXXX0290,,\n6/22/2019,Amazon,"AMAZON RETAIL SEATTLE WA EQUAL PAY 0% APR - 12 MOS Amazon Elements Baby Wipes, Se Alex and Ani Wrap Birth Month",11.99,debit,Baby Supplies,XXXXXXXXXX0290,,\n6/22/2019,Amazon,"AMAZON RETAIL SEATTLE WA EQUAL PAY 0% APR - 12 MOS Amazon Elements Baby Wipes, Se Alex and Ani Wrap Birth Month",19.6,debit,Clothing - SAP,XXXXXXXXXX0290,,\n6/20/2019,Amazon,AMAZON MARKETPLACE SEATTLE WA BODOAO Women Plus Size Rope Ti SHIPPING AND TAX,5.61,debit,Baby Supplies,XXXXXXXXXX0290,,\n6/20/2019,ONLINE payment-THANK YOU ATLANTA GA,ONLINE PYMT-THANK YOU ATLANTA GA,100,credit,Transfer,XXXXXXXXXX0290,,\n6/11/2019,Amazon,AMAZON RETAIL SEATTLE WA Blue Buffalo Life Protection F,46.3,debit,Pet Food & Supplies,XXXXXXXXXX0290,,\n5/31/2019,CARD SECURITY 1 800 815 4051,CARD SECURITY 1 800 815 4051,1.38,debit,Other Fees,XXXXXXXXXX0290,,\n5/14/2019,Amazon,"AMAZON RETAIL SEATTLE WA Amazon Elements Baby Wipes, Se AA Batteries, 24 Count - Energ Mega Bloks Build \'N Learn Tabl",46.9,debit,Shopping,XXXXXXXXXX0290,,\n5/9/2019,ONLINE payment-THANK YOU ATLANTA GA,ONLINE PYMT-THANK YOU ATLANTA GA,112.51,credit,Transfer,XXXXXXXXXX0290,,\n5/8/2019,Amazon,AMAZON MARKETPLACE SEATTLE WA Gyouanime Women Short Pants Su,7.59,debit,Clothing - SAP,XXXXXXXXXX0290,,\n5/6/2019,Amazon,AMAZON MARKETPLACE SEATTLE WA,16.99,debit,Clothing - SAP,XXXXXXXXXX0290,,\n5/5/2019,Amazon,AMAZON MARKETPLACE SEATTLE WA,11.73,debit,Baby Supplies,XXXXXXXXXX0290,,\n4/30/2019,CARD SECURITY 1 800 815 4051,CARD SECURITY 1 800 815 4051,1.84,debit,Other Fees,XXXXXXXXXX0290,,\n4/28/2019,Amazon,"AMAZON MARKETPLACE SEATTLE WA Baby Fruit Feeder Pacifier (2 Diapers Size 5, 164 Count - Pa Blue Buffalo Life Protection F",110.67,debit,Baby Supplies,XXXXXXXXXX0290,,\n4/25/2019,ONLINE payment-THANK YOU ATLANTA GA,ONLINE PYMT-THANK YOU ATLANTA GA,100,credit,Transfer,XXXXXXXXXX0290,,\n4/16/2019,ONLINE payment-THANK YOU ATLANTA GA,ONLINE PYMT-THANK YOU ATLANTA GA,206.33,credit,Transfer,XXXXXXXXXX0290,,\n4/11/2019,Amazon,AMAZON MARKETPLACE SEATTLE WA Invisible Fence Compatible 4 p,24.99,debit,Baby Supplies,XXXXXXXXXX0290,,\n4/4/2019,Amazon,AMAZON RETAIL SEATTLE WA Melissa & Doug Cutting Fruit S,16.99,debit,Baby Supplies,XXXXXXXXXX0290,,\n4/4/2019,Amazon,AMAZON MARKETPLACE SEATTLE WA 2Pcs/Set Fashion Toddler Kids 2PCS Set Toddler Kids Baby Gir,25.49,debit,Baby Supplies,XXXXXXXXXX0290,,\n4/4/2019,Amazon,AMAZON RETAIL SEATTLE WA Step2 Crabbie Sand Table,42.99,debit,Baby Supplies,XXXXXXXXXX0290,,\n4/3/2019,Amazon,AMAZON MARKETPLACE SEATTLE WA Mama Koala One Size Baby Washa,24.03,debit,Shopping,XXXXXXXXXX0290,,\n3/31/2019,CARD SECURITY 1 800 815 4051,CARD SECURITY 1 800 815 4051,2.81,debit,Other Fees,XXXXXXXXXX0290,,\n3/24/2019,Amazon,AMAZON MARKETPLACE SEATTLE WA Brilliant? 8 Oz Jewelry Cleane,7.95,debit,Baby Supplies,XXXXXXXXXX0290,,\n3/24/2019,Amazon,AMAZON RETAIL SEATTLE WA Fun Furnishings 55247 Toddler,48.99,debit,Baby Supplies,XXXXXXXXXX0290,,\n3/23/2019,ONLINE payment-THANK YOU ATLANTA GA,ONLINE PYMT-THANK YOU ATLANTA GA,150,credit,Transfer,XXXXXXXXXX0290,,\n3/13/2019,Amazon,AMAZON RETAIL SEATTLE WA Data Management: Databases and SHIPPING AND TAX,62.6,debit,Books & Supplies,XXXXXXXXXX0290,,\n3/11/2019,Amazon,AMAZON MARKETPLACE SEATTLE WA EIMIN Women\'s Pleated Chiffon,19.99,debit,Shopping,XXXXXXXXXX0290,,\n3/10/2019,Amazon,AMAZON RETAIL SEATTLE WA Darice 9119-26 Big Value Unfin Seresto flea and tick collar f,51.95,debit,Books & Supplies,XXXXXXXXXX0290,,\n3/1/2019,Amazon,AMAZON MARKETPLACE SEATTLE WA Toddler Baby Girl Floral Halte GotStyle Vivicastle Women\'s Sp MuDan Elastic Slingback Flit F Zattcas Womens Summer Contrast,70.62,debit,Clothing - SAP,XXXXXXXXXX0290,,\n2/28/2019,Amazon,AMAZON MARKETPLACE SEATTLE WA Deesee(TM)&#x1F495; Women Legg SHIPPING AND TAX,7.98,debit,Shopping,XXXXXXXXXX0290,,\n2/28/2019,Amazon,AMAZON MARKETPLACE SEATTLE WA PINKMILLY Womens Pleated Sleev SHIPPING AND TAX,15.98,debit,Clothing - SAP,XXXXXXXXXX0290,,\n2/28/2019,Amazon,AMAZON MARKETPLACE SEATTLE WA ForeMode Women Boho Print High,21.99,debit,Clothing - SAP,XXXXXXXXXX0290,,\n2/28/2019,Amazon,AMAZON MARKETPLACE SEATTLE WA C&M Wodro Infant Baby Girl Bod SHIPPING AND TAX,10.98,debit,Shopping,XXXXXXXXXX0290,,\n2/26/2019,Online Thank You,ONLINE PYMT-THANK YOU ATLANTA GA,334.97,credit,Transfer,XXXXXXXXXX0290,,\n2/23/2019,Late Payment Fee,LATE FEE,10.18,debit,Other Fees,XXXXXXXXXX0290,,\n2/21/2019,Amazon,AMAZON MARKETPLACE SEATTLE WA JJ Perfection Women\'s Pleated,19.99,debit,Clothing - SAP,XXXXXXXXXX0290,,\n2/21/2019,Amazon,AMAZON RETAIL SEATTLE WA Graco Nautilus 65 LX 3-in-1 Ha,179.61,debit,Baby Supplies,XXXXXXXXXX0290,,\n2/16/2019,Amazon,AMAZON MARKETPLACE SEATTLE WA iYYVV Plus Size Womens Ladies SHIPPING AND TAX,8.48,debit,Shopping,XXXXXXXXXX0290,,\n2/16/2019,Amazon,AMAZON MARKETPLACE SEATTLE WA Columbia Men\'s Watertight II R,59.99,debit,Clothing - MDP,XXXXXXXXXX0290,,\n2/12/2019,Amazon,AMAZON RETAIL SEATTLE WA Blue Buffalo Life Protection F,46.54,debit,Pet Food & Supplies,XXXXXXXXXX0290,,\n1/31/2019,Security,CARD SECURITY 1 800 815 4051,0.17,debit,Other Fees,XXXXXXXXXX0290,,\n1/24/2019,Amazon,AMAZON MARKETPLACE SEATTLE WA GUBERRY V Neck Shirts for Wome,10.01,debit,Baby Supplies,XXXXXXXXXX0290,,\n1/22/2019,Online Thank You,ONLINE PYMT-THANK YOU ATLANTA GA,203,credit,Transfer,XXXXXXXXXX0290,,\n1/14/2019,Amazon,AMAZON MARKETPLACE SEATTLE WA Sugar Plum Creations One Snowf,8.99,debit,Baby Supplies,XXXXXXXXXX0290,,\n1/13/2019,Amazon,"AMAZON MARKETPLACE SEATTLE WA Soccerene First Birthday Banne Christmas Party Decorations,24",22.89,debit,Baby Supplies,XXXXXXXXXX0290,,\n1/6/2019,Amazon,AMAZON MARKETPLACE SEATTLE WA Baby on board with Arrows Viny,4.99,debit,Gifts & Donations,XXXXXXXXXX0290,,\n1/6/2019,Amazon,AMAZON MARKETPLACE SEATTLE WA Seafoam Green and Grey Arrow P,12.99,debit,Gifts & Donations,XXXXXXXXXX0290,,\n1/6/2019,Amazon,AMAZON MARKETPLACE SEATTLE WA Munchkin High Capacity Drying oogiebear - The Safe Baby Nasa,25.7,debit,Gifts & Donations,XXXXXXXXXX0290,,\n12/31/2018,Security,CARD SECURITY 1 800 815 4051,2.08,debit,Other Fees,XXXXXXXXXX0290,,\n12/29/2018,Amazon,"AMAZON PAYMENTS SEATTLE WA AMZ*Woot, Inc",49.98,debit,Gifts & Donations,XXXXXXXXXX0290,,\n12/27/2018,Amazon,AMAZON MARKETPLACE SEATTLE WA SAMSUNG M471B5173QH0-YK0 4GB D,0.99,debit,Gifts & Donations,XXXXXXXXXX0290,,\n12/25/2018,Amazon,"AMAZON RETAIL SEATTLE WA Dr. Brown\'s Original Nipple, L",17.98,debit,Gifts & Donations,XXXXXXXXXX0290,,\n12/23/2018,Amazon,AMAZON MARKETPLACE SEATTLE WA Circle Stud Earrings - 925 Ste,10.99,debit,Gifts & Donations,XXXXXXXXXX0290,,\n12/23/2018,Amazon,AMAZON MARKETPLACE SEATTLE WA VTech Drill & Learn Toolbox SHIPPING AND TAX,20.43,debit,Gifts & Donations,XXXXXXXXXX0290,,\n12/23/2018,Amazon,AMAZON MARKETPLACE SEATTLE WA Toy Truck Transport Car Carrie,24.99,debit,Gifts & Donations,XXXXXXXXXX0290,,\n12/20/2018,Online Thank You,ONLINE PYMT-THANK YOU ATLANTA GA,44.19,credit,Transfer,XXXXXXXXXX0290,,\n12/14/2018,Amazon,AMAZON MARKETPLACE SEATTLE WA oogiebear - the safe baby nasa Luvable Friends Baby Cozy Flee,22.94,debit,Baby Supplies,XXXXXXXXXX0290,,\n12/2/2018,Amazon,AMAZON RETAIL SEATTLE WA Knock Knock Apology Nifty Note,10.27,debit,Gifts & Donations,XXXXXXXXXX0290,,\n12/2/2018,Amazon,AMAZON MARKETPLACE SEATTLE WA Worlds Okayest Uncle T Shirt A SHIPPING AND TAX,10.98,debit,Gifts & Donations,XXXXXXXXXX0290,,\n'

In [15]:
address = pd.read_csv(io.StringIO(read_data.decode('utf-8')))
address.head()

,Date,Description,Original Description,Amount,Transaction Type,Category,Account Name,Labels,Notes
0,7/31/2019,CARD SECURITY 1 800 815 4051,CARD SECURITY 1 800 815 4051,0.48,debit,Finance Charge,XXXXXXXXXX0290,NaN,NaN
1,7/13/2019,Amazon,AMAZON MARKETPLACE SEATTLE WA Amazon.com Refund,10.99,credit,Shopping,XXXXXXXXXX0290,NaN,NaN
2,7/9/2019,ONLINE payment-THANK YOU ATLANTA GA,ONLINE PYMT-THANK YOU ATLANTA GA,1319.61,credit,Transfer,XXXXXXXXXX0290,NaN,NaN
3,7/8/2019,Amazon,AMAZON MARKETPLACE SEATTLE WA OtterBox DEFENDE...,22.00,debit,Electronics & Software,XXXXXXXXXX0290,NaN,NaN
4,7/7/2019,Amazon,AMAZON MARKETPLACE SEATTLE WA Rebex iPhone 8 C...,17.98,debit,Electronics & Software,XXXXXXXXXX0290,NaN,NaN

In [ ]:
file_loc = '../Documents/GitHub Repository/Mint/data/raw/Transactional Data/transactions.csv'

In [27]:
import os

list1 = []

os.chdir('C:/Users/mdpur/PythonScriptWrapper_060b50ca-48d1-4d15-9370-643cbbb0279a') 
path = os.getcwd()
path

FileNotFoundError: [WinError 2] The system cannot find the file specified: 'C:/Users/mdpur/PythonScriptWrapper_060b50ca-48d1-4d15-9370-643cbbb0279a'

In [32]:
os.chdir(os.path.dirname(os.path.abspath('C:/Users/mdpur/PythonScriptWrapper_060b50ca-48d1-4d15-9370-643cbbb0279a/')))

In [34]:
path = os.getcwd()
path

'C:\\Users\\mdpur'

In [38]:
file_loc = 'OneDrive/Documents/GitHub Repository/Mint/data/raw/Transactional Data/transactions.csv'

In [39]:
pd.read_csv(file_loc)

,Date,Description,Original Description,Amount,Transaction Type,Category,Account Name,Labels,Notes
0,8/10/2020,Walgreens,Authorization Hold / WALGREENS #19912,9.48,debit,Pharmacy,STARTER CIV VISA,NaN,NaN
1,8/10/2020,Amazon,Authorization Hold / AMAZON.COM,12.88,debit,Shopping,CHECKING,NaN,NaN
2,8/10/2020,Amazon,Authorization Hold / AMZN MKTP US,6.42,debit,Shopping,CHECKING,NaN,NaN
3,8/10/2020,Hannaford,HANNAFORD #8159,68.33,debit,Groceries,Discover,NaN,NaN
4,8/10/2020,Old Navy,Authorization Hold / OLD NAVY US 1817,124.43,debit,Shopping,STARTER CIV VISA,NaN,NaN
...,...,...,...,...,...,...,...,...,...
10678,11/17/2014,Wal-Mart,POS TransactionWM SUPERCENTER Wal-Mart Super C...,21.82,debit,Shopping,CHECKING,NaN,NaN
10679,11/17/2014,Laundry Reload Meus,POS TransactionLAUNDRY CARD RELOAD 207-7736021...,20.00,debit,Laundry,CHECKING,NaN,NaN
10680,11/17/2014,McDonald's,POS TransactionMCDONALD'S F1842 PORTSMOUTH NHUS,5.21,debit,Fast Food,CHECKING,NaN,NaN
10681,11/17/2014,Comcast,POS TransactionCOMCAST BOSTON CS 1 800-266-227...,108.03,debit,Television,CHECKING,NaN,NaN
10682,11/17/2014,E-ZPass,POS TransactionNH TURNPIKE E-Z PAS EZPASSNH.CO...,1.75,debit,EZ Pass Tolls,CHECKING,NaN,NaN

In [25]:
list1.append(path)

list1
df = pd.DataFrame(list1)
df

                                                   0
0  C:\Users\mdpur\OneDrive\Documents\GitHub Repos...
1  C:\Users\mdpur\OneDrive\Documents\GitHub Repos...

In [ ]:
import json
import requests
from pandas.io.json import json_normalize
import pandas as pd
import numpy as np
import config
import getpass

In [ ]:
GITEA_APP_URL = 'https://github.com/mdpurvis/github'
GITEA_TOKEN = 'YOUR_GITEA_TOKEN'
GITHUB_USERNAME = 'mdpurvis'
GITHUB_TOKEN = getpass.getpass('Enter your password here:     ')
SQL_ALCHEMY_STRING = 'YOUR_SQL_ALCHEMY_CONNECTIN_STRING'

In [ ]:
github_api = "https://api.github.com"
gh_session = requests.Session()
gh_session.auth = (config., config.GITHUB_TOKEN)

In [ ]:
url = github_api + '/repos/apache/spark/commits'
commits = gh_session.get(url = url)
commits_json = commits.json()

In [ ]:
url = api + '/repos/{}/{}/branches?page={}&per_page=100'.format(owner, repo, page_number)

In [ ]:
def commits_of_repo_github(repo, owner, api):
    commits = []
    next = True
    i = 1
    while next == True:
        url = api + '/repos/{}/{}/commits?page={}&per_page=100'.format(owner, repo, i)
        commit_pg = gh_session.get(url = url)
        commit_pg_list = [dict(item, **{'repo_name':'{}'.format(repo)}) for item in commit_pg.json()]    
        commit_pg_list = [dict(item, **{'owner':'{}'.format(owner)}) for item in commit_pg_list]
        commits = commits + commit_pg_list
        if 'Link' in commit_pg.headers:
            if 'rel="next"' not in commit_pg.headers['Link']:
                next = False
        i = i + 1
    return commits