In [3]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
census = pd.read_csv('../datasets/census/census.csv')
census.head()

     state  year  population  land_area
0  Alabama  2010     4785437      52420
1  Alabama  2011     4799069      52420
2  Alabama  2012     4815588      52420
3  Alabama  2013     4830081      52420
4  Alabama  2014     4841799      52420

In [5]:
divisions = pd.read_csv('../datasets/census/census-divisions.csv')
divisions.head()

           state postal_code     region     division
0    Connecticut          CT  Northeast  New England
1          Maine          ME  Northeast  New England
2  Massachusetts          MA  Northeast  New England
3  New Hampshire          NH  Northeast  New England
4   Rhode Island          RI  Northeast  New England

In [ ]:
# Merge data before continuing
census = census.merge(divisions, how='left')
census.head()

In [ ]:
# Sort the data by region ascending, division ascending and population descending.
census_sorted = census.sort_values(by=['region','division','population'], ascending=[True,True,False])
census_sorted.head()

# Write the results to an Excel worksheet. 
census_sorted.to_excel('datasets/census/solutions-data/census-sorted.xlsx')

In [ ]:
# Drop the postal code field from your merged dataset.
census = census.drop('postal_code', axis=1)
census.head()

In [ ]:
# Create a new column _density_ which is a calculation of population divided by land area. 
census['density'] = census['population']/census['land_area']
census.head()

In [ ]:
# Visualize the relationship between  land area  and  population for all observations in 2015. 
census_2015 = census[census['year']==2015]
census_2015.head()

In [ ]:
# 
sns.scatterplot(x='land_area', y='population', data=census_2015)

In [ ]:
# Let's sort our data by land area to see the extreme values...

census_2015.sort_values(by='land_area', ascending=False).head()

In [ ]:
census_2015[['region','population']].groupby('region').sum()