In [1]:
import pandas as pd

In [22]:
# List of Tuples
students = [('Entity_A', 'Attribute_1', 34),
            ('Entity_A', 'Attribute_2', 25),
            ('Entity_A', 'Attribute_3', 30),
            ('Entity_B', 'Attribute_1', 21),
            ('Entity_B', 'Attribute_2', 28),
            ('Entity_B', 'Attribute_3', 26)]

# Create a DataFrame object
df = pd.DataFrame(students,
                      columns=['Entity', 'Attribute', 'Amount'])

In [24]:
# List of Tuples
students = [('Entity_A', 34, 25, 30),
            ('Entity_B', 21, 28, 26)]

# Create a DataFrame object
df_2 = pd.DataFrame(students,
                      columns=['Entity', 'Attribute_1', 'Attribute_2', 'Attribute_3'])

In [23]:
df

     Entity    Attribute  Amount
0  Entity_A  Attribute_1      34
1  Entity_A  Attribute_2      25
2  Entity_A  Attribute_3      30
3  Entity_B  Attribute_1      21
4  Entity_B  Attribute_2      28
5  Entity_B  Attribute_3      26

In [25]:
df_2

     Entity  Attribute_1  Attribute_2  Attribute_3
0  Entity_A           34           25           30
1  Entity_B           21           28           26